  


  <div id="skillsPage" class="container content  clearPadding clearMargin outline centerDiv navPadding footerPadding">

  <div  class="contentContainer centerDiv maxWidth">
      <div class="col-md-12 pageTitle clearPadding">
        <h2> Skills</h2>
      </div>

      <div id="#skillsPage" class="col-md-12 body clearPadding">

      </div>

      <div class="skillsTable">

        <div class="col-md-4 clearPadding">
          <h3>design</h3>
          <ul>
            <li>Axure - Wireframing UX</li>
            <li>Photoshop</li>
            <li>Ilustrator</li>
            <li>Web Design</li>
            <li>Photo Manipulation</li>
          </ul>
        </div>

        <div class="col-md-4 clearPadding">
          <h3>development</h3>
          <ul>
            <li>html5 / css</li>
            <li>javascript / jquery</li>
            <li>npm - package manager</li>
            <li>gulp - task runner</li>
            <li>angular - Front End Framework</li>
            <li>nodejs - Backend</li>
            <li>mongodb</li>
            <li>mongolab</li>
            <li>mysql</li>
            <li>pubnub/websockets</li>
          </ul>
        </div>

        <div class="col-md-4 clearPadding">
          <h3>deployment</h3>
          <ul>
            <li>RedHat OpenShift</li>
            <li>AWS</li>
          </ul>
        </div>

      </div>

  </div>  
  </div>



