  


  <div class="container content col-md-9 clearPadding clearMargin outline ">

  <div class="contentContainer">
      <div class="col-md-12 pageTitle clearPadding">
        <h2> Skills</h2>
      </div>

      <div class="col-md-12 body clearPadding">
        <h3> Background</h3>
        <p>
          Although I started off with graphic design in high school, I chose web programming as my specialization in college. This introduced me to a whole new world of languages, frameworks and tools for me to learn and bring my designs to life. They say knowledge is power, so I am constantly learning new technologies to improve my skillset.  There really is nothing more rewarding  than conceiving an idea and then bringing it to life.
        </p>
      </div>

      <div class="skillsTable">

        <div class="col-md-4 clearPadding">
          <h3>design</h3>
          <ul>
            <li>Axure - Wireframing UX</li>
            <li>Photoshop</li>
            <li>Ilustrator</li>
            <li>Web Design</li>
            <li>Photo Manipulation</li>
          </ul>
        </div>

        <div class="col-md-4 clearPadding">
          <h3>development</h3>
          <ul>
            <li>html5 / css</li>
            <li>javascript / jquery</li>
            <li>npm - package manager</li>
            <li>gulp - task runner</li>
            <li>angular - Front End Framework</li>
            <li>nodejs - Backend</li>
            <li>mongodb</li>
            <li>mongolab</li>
            <li>mysql</li>
            <li>pubnub/websockets</li>
          </ul>
        </div>

        <div class="col-md-4 clearPadding">
          <h3>deployment</h3>
          <ul>
            <li>RedHat OpenShift</li>
            <li>AWS</li>
          </ul>
        </div>

      </div>

  </div>  
  </div>



