  


  <div class="container content  clearPadding clearMargin outline navPadding maxWidth centerDiv">

  <div class="contentContainer centerDiv">
      <div class="col-md-12 pageTitle clearPadding">
  			<h2> bio</h2>
  		</div>


      <div class="col-md-3 ">
        <h3>  </h3>
        <img src="assets/images/afrozeProfile.jpg">
      </div>

      <div class="col-md-9 body whiteFont">
        <h3> About Me</h3>
        <p> Hey my name is Afroze Khan and I've been a tech guy since my early teens. I picked up graphic design in high school, all thanks to a very fun and exciting marketing class. From there new avenues opened up for me and my journey began. After spending a couple of years doing graphic design I decided to choose web programming as my specialization in college. This introduced me to a whole new world of languages, frameworks and tools for me to learn and bring my designs to life. I am constantly learning new technologies and building upon my skills, which is really rewarding and gives me a great sense of empowerment. Check out my skillset page to see what I've learned so far!
        </p>
      </div>

  </div>  
  </div>



