

  <div class="contentContainer navPadding footerPadding">
  <div class="content centerDiv">
    <h1 class="contentTitle" >apps</h1>
        <div class="portItem centerDiv fullWidth">
          <h2>NoteTaker</h3>
          <!-- <img class="portImage" src="assets/images/sampleDisplay.png"> -->
          <img class="resImg centerDiv" src="assets/gifs/notetaker.gif">   
          <div class="info">
            <p>Wanted to make something like google keep and trello for practice, unique thing about this app is that you can drag and drop from mobile devices thanks to the touchpunch library. You can also save your notes to retrieve them later. Going to change the UI soon and integrate websockets, sharing and other features. </p>
          </div>      
        </div>

  </div>
</div>