  



        <h1 class="pageTitle"> Skills</h1>



      <div class="skillsTable">

        <div class="col-md-4">
          <h2>design</h2>
          <ul>
            <li>Axure - Wireframing UX</li>
            <li>Photoshop</li>
            <li>Ilustrator</li>
            <li>Web Design</li>
            <li>Photo Manipulation</li>
          </ul>
        </div>

        <div class="col-md-4">
          <h2>development</h2>
          <ul>
            <li>html5 / css</li>
            <li>javascript / jquery</li>
            <li>npm - package manager</li>
            <li>gulp - task runner</li>
            <li>angular - Front End Framework</li>
            <li>nodejs - Backend</li>
            <li>mongodb</li>
            <li>mongolab</li>
            <li>mysql</li>
            <li>pubnub/websockets</li>
          </ul>
        </div>

        <div class="col-md-4">
          <h2>deployment</h2>
          <ul>
            <li>RedHat OpenShift</li>
            <li>AWS</li>
          </ul>
        </div>

      </div>




