<!-- <header ng-include="'app/views/includes/app.nav.html'">

</header> -->
<!-- <div class="row fullHeight">
	<div class="ui-view-container fullHeight">
		<div ui-view class="fullHeight">
		</div>
	</div>
</div> -->
<!-- <div class="nav outline col-md-3 clearPadding clearMargin" ng-controller="appCtrl as app" ng-click="app.toggleNav()" >
	<span class="logo">ak</span>
	<ul>
		<li><a ui-sref="app.home" >home</a></li>
		<li><a ui-sref="app.bio" >bio</a></li>
		<li><a ui-sref="app.skills" >skills</a></li>
		<li><a ui-sref="app.portfolio" href="">portfolio</a></li>
	</ul>
</div> -->

<!-- <div class="navContainer">
	<div class="nav centerDiv">
		<ul>
			<li><a ui-sref="app.home" >home</a></li>
			<li><a ui-sref="app.bio" >about</a></li>
			<li><a ui-sref="app.skills" >contact</a></li>
			<li><a ui-sref="app.portfolio" href="">portfolio</a></li>
		</ul>
	</div>
</div> -->

<div class="container">
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid maxWidth">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="logo" class="navbar-brand" href="#home">AfrozeKhan</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
        <li><a href="#bio">about</a></li>
        <li><a href="#skills">skillset</a></li>
        <li class="dropdown">
          <a ui-sref="#portfolio" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">portfolio <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.apps" >apps</a></li>
            <li><a ui-sref="app.designs" >designs</a></li>
            <li><a ui-sref="app.manips" >manips</a></li>
            <li><a ui-sref="app.other" >other</a></li>

          </ul>
        </li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="fullHeight" ui-view>

</div>