
<div class="headerContainer">
	<div class="header centerDiv">
		<h1>
			Designer
			<br>
			Programmer
			<br>
			<span>&</span>
			<br>
			Everything <span>Web</span>
		</h1>

	</div>
</div>
<div class="contentContainer">
	<div class="content centerDiv">
		<h1 class="contentTitle" >portfolio</h1>
		<div class="boxes ">
			
				<div class="col-md-6">
					<div id="apps" class="box">
						<h2>
							<a ui-sref="app.apps" >apps</a>
						</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div id="designs" class="box">
						<h2>
							<a href="">designs</a>
						</h2>
					</div>
				</div>
			
			
				<div class="col-md-6">
					<div id="manips" class="box">
						<h2>
							<a href="">manips</a>
						</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div id="other" class="box">
						<h2>
							<a href="">other</a>
						</h2>
					</div>
				</div>
			

		</div>

	</div>
</div>