html{
	height: 100%;
}

body{
	font-family:"lato","Helvetica","Arial","Sans-Serif";
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	!padding-top: 50px;
	height: 100%;
	color: black;	
	font-weight: 100;
	font-size: 100%;
}

/*helpers*/

.clearPadding{
	padding: 0;
	/* overflow: auto; */
}

.clearMargin{
	margin: 0;
}

.centerText{
	text-align: center;
} 

.centerDiv{
	margin-left: auto;
	margin-right: auto;
}

.fullHeight{
	height: 100%;
	!overflow: auto;
}

.fullWidth{
	width: 100%;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}


.outline{
	!outline: 1px solid white !important;
}

.centerText{
	text-align: center;
}

.resImg{
	display: block;
	width: 100%;
	max-width: 900px;
}
/*colors*/

.softBlue{
	background: #49AAEF;
}

.blackGradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,474747+25,2c2c2c+72 */
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(71,71,71,1) 25%, rgba(44,44,44,1) 72%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(71,71,71,1) 25%,rgba(44,44,44,1) 72%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(71,71,71,1) 25%,rgba(44,44,44,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */

}

.silverGradient{
	background: white; /*fallback*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d8d8d8+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */

}

.navPadding{
	padding-top: 60px;
}
.footerPadding{
	padding-bottom: 60px;
}

.navContainer{
	position: fixed;
	width: 100%;
	background: black;
	z-index: 99;
}

.nav{
	width: 90%;
	max-width: 1100px;
}


.nav ul{
	float: right;
	list-style-type: none;
	font-family: "lato","Helvetica","Arial","Sans-Serif";

}

.nav ul li{
	text-align: center;
	margin: 15px;
	display: inline-block;
}

.nav ul li a{
	color: white;
	font-weight: 100;
	text-align: center;
	padding-bottom: 5px;
	font-size: 1.5em;
}

.nav ul li a:hover{
	text-decoration: none;
	border-bottom: 1px solid #3fffab;
	color: #3fffab;
}

.headerContainer{
	height: 100%;
	background: url('../images/macDesk.png');
	background-position: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	 background-attachment: fixed; 
	background-size: cover;
}

.header{
	padding-top: 100px;
	width: 90%;
	max-width: 1100px;
}

.header h1{
	color: white;
	font-weight: 100;
	text-align: center;
	font-size: 6em;
}


.contentContainer{overflow: auto;}

.content{
	width: 90%;
	max-width: 1100px;
	overflow: auto;
}

.contentTitle{
	font-weight: 100;
	text-align: center;
	
	letter-spacing: 11px;
	margin: 0;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.boxes{
	margin-top: 17px;
	margin-bottom: 50px;
	overflow: auto;
}

.boxes .col-md-6{
	padding: 10px;
}

.box{
	background: #7A0707;
	min-height: 300px;
	position: relative;
	overflow: hidden;
	background: url('../images/apps.png');
	background-size: cover;
	background-position: center;

}

#apps{
	background: url('../images/apps.png');
			background-size: cover;
	background-position: center;
}

#designs{
	background: url('../images/designs.png');
	/* background-size: 130%; */
	background-position: top;
}

#manips{
	background: url('../images/manips.png');
	background-size: 167%;
	background-position: bottom;
}

#apps{
	background: url('../images/apps.png');
	background-size: 138%;
	background-position: top;
}

.box{

}


.box h2{
	color: white;
	font-weight: 100;
	text-align: center;
	display: inline-block;
	bottom: 0;
	/* padding: 20px; */
	margin: 0;
	width: 100%;
	position: absolute;
	/* background: black; */!background:rgba(0,0,0,0.5);
	
	line-height: 300px;
	letter-spacing: 22px;
}

.box a{
	text-decoration: none;
	color: white;
	/* line-height: inherit; */
	height: 100%;
	display: inline-block;
	width: 100%;
}





.content .pageTitle h2{
	background: rgba(255,255,255,.1);
	padding: 10px;
	padding-left: 15px;
	border-left: 1px solid #3fffab;
	color: #3fffab;
	font-weight: lighter;
	font-weight: 100;
	letter-spacing: 2px;
	
	font-family: "lato","Helvetica","Arial","Sans-Serif";

}

.content .body h3{
	color: #3fffab;
	font-family: "lato","Helvetica","Arial","Sans-Serif";

}

.content .skillsTable{
	/* background: rgba(255,255,255,.1); */
	clear: both;
	/* overflow: auto; */
	margin-top: 10px;
	float: left;
	width: 100%;
	height: 290px;
}

.content .skillsTable .col-md-4{
	box-sizing: borderbox;
	border: 1px solid rgba(0,0,0,.3);
	background: rgba(225, 225, 225, .1);
	/* box-sizing: inherit; */
	height: 100%;
}


.content .skillsTable h3{
	background: rgba(255,255,255,.1);
	padding: 10px;
	border-bottom: 1px solid #3fffab;
	font-family: "lato","Helvetica","Arial","Sans-Serif";
	margin: 0;
}

.content .skillsTable ul{
	margin-top: 10px;
}

.portfolio{
	margin-top: 40px;
}

.portfolio .portImage{
	width: 90%;
	height: auto;
}
	







/*transitions*/
.ui-view-container {
  position: relative;
}
/*
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
}*/
