
html{
	height: 100%;
}

body{
	height: 100%;

	background: whitesmoke;
	font-family:"Roboto Slab","Times","Helvetica","Arial","Sans-Serif";
	font-size: 1.8em;
/*	background:url('../images/myDesk.svg');
	background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/

}

.clearPadding{
	padding: 0;
}

.padding{
	padding: 20px;
}

.maxWidth{
	max-width: 1200px;
}

.fullHeight{
	height: 100%
}

.centerText{
	text-align: center;
}

/*.boxShadow{
	box-shadow: 0px 5px 21px -2px;
}*/

.whiteBg{
	background: white;
}

p{
	line-height: 1.5em;
}

#mainContainer{

/*	background: whitesmoke;
*/	/* border-radius: 9px; */
	/* padding: 14px; */
}



.navbar-default {
/*     background-color: whitesmoke; 
*/     border-color: none; 
     border: 0;
     background: none;
}

#logo{
	font-size: 3.2em;
    position: relative;
}

h1.pageTitle{
	font-size: 3.4em;
	/*text-align: center;*/
}

.navbar-nav>li {
	    display: block;
	    float: none;
	    text-align: center;
	}





#homePage h1{
	text-align: center;
    font-size: 1.2em;
    color: gray;
    border: 10px solid #545252;
    background: #FFFEDB;
    padding: 13px;
}

#homePage .imageContainer{
	overflow: hidden;
	padding: 0;
	
}

#homePage img{
	margin: 0 auto;
	display: block;
	width: 100%;
}

#homePage hr{
	margin: 5px 10px;
    border-color: #8B8080;
}

.navbar-nav{
	margin: 0;
	margin-top: 10px;
}	

.navbar-nav>li {
	font-size: 2em;
	margin-bottom: 15px;
}

.portItem{
	/* padding-bottom: 10px; */
	margin-bottom: 35px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E3E3E3;
}


@media (min-width: 768px){




	#logo{
		font-size: 4em;
	    line-height: normal;
	    margin-bottom: 80px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	}

	.navbar-header{
		float: none;
	}

	.navbar-nav{
		float: none;

	}

	.navbar-nav>li {
	    display: block;
	    float: none;
	    text-align: center;
	}


	#homePage h1{
		text-align: center;
	    font-size: 1.4em;
	    color: gray;
	    border: 10px solid #545252;
	    background: #FFFEDB;
	    padding: 13px 0px;
	}

	#homePage .imageContainer{
	overflow: hidden;
	padding: 0;
	
	}

	#homePage img{
		margin: 0 auto;
		display: block;
		width: 100%;
	}

	#homePage hr{
		margin: 5px 20px;
    	border-color: #8B8080;
	}	

	#content{
	border-left: 1px solid #E3E3E3;
    padding-left: 35px;
}

}
