
  <div class="container-fluid  fullHeight clearPadding notes">
  	
  	<div class="header">
  		<h1 class="title clearMargin centerText">Notes</h1>
  	</div>



  	<div class="notesContainer container ">
  		
  		<div class="noteContainer col-md-3" draggable="true">
  			<div class="note">
  				<h3 class="noteTitle">
  					Todo
  				</h3>
  				<div class="noteBody">
  					<ul>
  						<li>one</li>
  						<li>two</li>
  						<li>three</li>
  					</ul>
  				</div>
  			</div>
  		</div> <!-- end note container -->

      <div class="noteContainer col-md-3" draggable="true" ng-repeat="note in notes.notes">
        <div class="note">
          <h3 class="noteTitle">
            {{note.title}}
          </h3>
          <div class="noteBody">
            <ul class="itemsList" >
              <li class="noteItem" ng-repeat="item in note.items"> <input type="checkbox"/> {{item}} </li>
            </ul>
          </div>
        </div>
      </div> <!-- end note container -->


  		
  	</div>

  </div>


